name: CD

on:
  push:
    branches:
      - 'release/**'

jobs:
  test:
    uses: ./.github/workflows/test.yml
    with:
      sha: ${{ github.sha }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
    secrets: inherit
  

  build:
    needs: test
    uses: ./.github/workflows/build.yml
    with:
      sha: ${{ github.sha }}

  bump_version:
    needs: build
    uses: ./.github/workflows/bump.yml
    with:
      ref: ${{ github.ref }}
    secrets: inherit

  release:
    needs: bump_version
    uses: ./.github/workflows/release.yml
    with:
      sha: ${{ needs.bump_version.outputs.sha }}
      version: ${{ needs.bump_version.outputs.version }}
    secrets: inherit
