name: CI

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  test:
    if: "!startsWith(github.head_ref, 'release/')"
    uses: ./.github/workflows/test.yml
    with:
      sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build:
    needs: test
    uses: ./.github/workflows/build.yml
    with:
      sha: ${{ github.event.pull_request.head.sha }}
